<h1>
    This is the register page
</h1>

<form action="/admin/createuser" method="post">
    <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email">
    </div>

    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
        <select name="role" id="role">
            <option selected value="babysitter">Baby Sitter</option>
            <option value="supervisor">Supervisor</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>